div(*ngIf="!!debate; else loading")
  h1.title {{debate.payload.title}}
  div.flex.mt-1
    b {{debate.payload.votes.count}}
    span  voturi
    b  •
    span  postat acum
    b  {{getAgoTime(debate)}}

  div#content.my-4
    span {{debate.payload.content}}

  ul.list-unstyled
    li.d-flex(*ngFor="let attachment of debate.payload.attachments")
      div.col-11.p-0
        a(href="{{attachment.file.downloadPath}}", target="_blank")
          i.far.fa-file.mr-2
          span {{attachment.file.originalName}}
      div.col-1.p-0(
        (click)="removeAttachment(debate, attachment)"
      )
        span.text-danger
          i.fas.fa-times
    li.mt-3(
      (click)="filePicker.click()"
    )
      i.fas.fa-plus-square
      span.ml-2.pt-3 #[u Adauga atasament]
      input.invisible(
        #filePicker, nvb-file-picker,
        type="file", auto-reset="true",
        (onPick)="addAttachment(debate, $event)",
        hidden="true"
      )

  h2.h5 Care este părerea ta?

  form(*ngIf="hasNotVoted; else pollResultsWidget", [formGroup]="voteForm")
    div.form-check(*ngFor="let option of debate.payload.options")
      input.form-check-input([id]="option._id", [name]="voteOptionId", [value]="option._id", type="radio", formControlName="voteOptionId")
      label.form-check-label([for]="option._id") {{option.reason}}

    button.btn.btn-block.btn-primary.mt-3(
      type="submit", [disabled]="!voteForm.valid"
    ) VOTEAZA

  ng-template(#pollResultsWidget)
    div.poll-result.progress.my-1(*ngFor="let result of pollResults", style="height: 2rem")
      div.progress-bar.progress-bar-striped.progress-bar-animated(
        role="progress", [attr.aria-valuenow]="result.count",
        aria-valuemin="0", [attr.aria-valuemax]="debate.payload.votes.count",

        [ngStyle]=`{
          width: (result.count * 100 / debate.payload.votes.count || 1) + '%'
        }`
      )
        div.d-flex
          strong.ml-1 {{(result.count * 100 / debate.payload.votes.count || 1)}}%
          span.text-nowrap.text-truncate.ml-2  {{result.name}}

  hr

  h2.h5.mt-2 Distribuie
  a.social-icon(href="", (click)="$event.preventDefault(); facebookShare(debate)")
    i.fab.fa-facebook-square
  a.social-icon.ml-4(href="https://wa.me/?text={{encodeWhatsappMessage(debate)}}")
    i.fab.fa-instagram
  a.social-icon.ml-4(href="https://wa.me/?text={{encodeWhatsappMessage(debate)}}")
    i.fab.fa-whatsapp


ng-template(#loading)
  p Se incarca
