epoll-navbar
  div.col-12.col-md-9.col-lg-6.mx-auto.px-0
    div.d-flex.justify-content-between
      epoll-navbar-logo-button
      epoll-navbar-user-menu

//- div( epoll-json-ld, [schema]="SCHEMA" )

main.container
  div.row
    div.col-12.col-md-9.col-lg-6.mx-auto
      fieldset([disabled]="!isUIEnabled")
        ng-container(*ngTemplateOutlet="_tfPage")

footer.container-fluid.mt-3
  div.row
    div.col-12.col-md-9.col-lg-6.mx-auto
      epoll-copyright-footer

ng-template(#_tfPage)
  h1.h3.mt-3 Adauga Anunt Nou
  .form-group
    label.form-control-label(for="title") TITLU
    textarea.form-control(
      id="title", name="title", rows="2",
      [(ngModel)]="title"
    )
  .form-group
    label.form-control-label(for="description") DESCRIERE
    textarea.form-control(
      id="description", name="description", rows="5",
      [(ngModel)]="content"
    )

  h2.h3 Atașare fișiere
  p Doar fisierele de tip PDF, PNG si JPG sunt acceptate.

  ul.list-unstyled
    li.d-flex(*ngFor="let file of files; let i = index")
      div.col-11.p-0
        a(href="#")
          i.far.fa-file.mr-2
          span {{file.name}}
      div.col-1.p-0(
        (click)="removeAttachment(i)"
      )
        span.text-danger
          i.fas.fa-times
  input.invisible(
    #filePicker, epoll-file-picker,
    type="file", auto-reset="true",
    (onPick)="addAttachments($event)",
    accept=".png, .jpg, .pdf",
    multiple="true"
  )
  button.btn.btn-block.btn-default(
    (click)="filePicker.click()"
  ) ATAȘEAZĂ FIȘIERE

  div.epol-divider

  button.btn.btn-block.btn-primary(
    (click)="createAnouncement()"
  ) CREAZĂ ANUNT
  a.btn.btn-block.btn-default(
    routerLink="/"
  ) ANULEAZĂ
